.side-content
  .side-header
    .side-header__box
      abe
      %ul.side-header__box__menu
        %ul.side-header__box__menu__new-group
          = link_to "#" do
            = icon('fas', 'edit')
        %ul.side-header__box__menu__new-group
          = link_to "#" do
            = icon('fas', 'cog')

  .side-ber
    .side-ber__box
      abc
      .side-ber__box-name
        def
      .side-ber__box-message
            